[submodule "fleet"]
	path = fleet
	url = https://github.com/synerex/provider_fleet
[submodule "map"]
	path = map
	url = https://github.com/synerex/provider_map
[submodule "harmovis"]
	path = harmovis
	url = https://github.com/synerex/harmovis-provider.git
